<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>hi lol</div>
    <% if (locals.user && !locals.ismember) { %>
    <a href="/club">become a member of club</a>
    <% } %> <% if (locals.user) { %>
    <a href="/message">create message</a>
    <% } else { %>
    <a href="/signup">signup</a>
    <a href="/login">login</a>
    <% } %> <% messages.forEach((message) => { %>
    <p>title: <%=message.title %></p>
    <p>time: <%=message.time%></p>
    <p>message: <%=message.message%></p>
    <% if (locals.ismember) { %>
    <p>username: <%=message.username%></p>
    <% } %> <% %> <% if (user && user.isadmin) { %>
    <a href="/delete/<%=message.message_id%>">delete</a>
    <% } %> <% }) %> <% if (locals.user) { %>
    <a href="/logout">logout</a>
    <% } %>
  </body>
</html>
